FORMAT: 1A
HOST: http://api.myre.domain/api/v1/

# Myre - Web

Myre utilizes JWT Authentication which generates token on user sign in. Token is required for most requests.
Token can be send as `token` parameter as query string or as header in such format `Authorization: Bearer {system-generated-token}`.

When sending request with body of JSON headers should contain `Content-Type: application/json`.

## Group User Access
## Sign In [/auth/login]
### Sign in [POST]
Attempt to login and get user token.
`token` is NOT required.

+ Request (application/json)

        {
            "email": "admin@super.com",
            "password": "password"
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Login has been successfully.",
                "data": {
                    "userType": "admin",
                    "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOjEsImlzcyI6Imh0dHA6XC9cL21pZy5teXJlLmFwaVwvYXBpXC92MVwvYXV0aFwvbG9naW4iLCJpYXQiOjE0OTkxNDk4ODUsImV4cCI6MTUyODE4MDI4NSwibmJmIjoxNDk5MTQ5ODg1LCJqdGkiOiJmZ0xjTzUyRkJralU4VTk4In0.JCdkONitJsqWtJ1DNmU26evr3xXHBp3UsNDRq9xtpS0",
                    "user": {
                        "id": 1,
                        "civility": false,
                        "lastName": null,
                        "firstName": null,
                        "email": "admin@super.com",
                        "mobilePhone": null,
                        "officePhone": null,
                        "jobTitle": null,
                        "guest": false,
                        "customer": false,
                        "active": true,
                        "profilPicPath": null,
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    "role": [
                        "user.create",
                        "user.read",
                        "user.delete",
                        "user.update",
                        "building.create",
                        "building.read",
                        "building.delete",
                        "building.update",
                        "role.create",
                        "role.read",
                        "role.delete",
                        "role.update",
                        "lot.create",
                        "lot.read",
                        "lot.delete",
                        "lot.update",
                        "bail.create",
                        "bail.read",
                        "bail.delete",
                        "bail.update",
                        "portofolio.create",
                        "portofolio.read",
                        "portofolio.delete",
                        "portofolio.update",
                        "admin.read",
                        "access.create",
                        "access.update"
                    ]
                }
            }

## Sign Out [/auth/logout]
### Sign Out (NOT IMPLEMENTED YET) [POST]
Log out from application clear token on server
`token` is NOT required.

+ Response 200

        {
        }

## Reset Password [/auth/reset]
### Reset Password [POST]
Reset User Password by e-mail.
`token` is NOT required.

+ Request (application/json)

        {
            "email": "admin@super.com"
        }

+ Response 200 (application/json)

    + Body
            
            {
                "code": 0,
                "message": "Reset Password Successfully. The New Password Has Been Sent To Email",
                "data": {
                    "email": "admin@super.com"
                }
            }


## Group My / Current Logged User

Resource related to current logged in user.
`token` is required.

## Profile Detail [/my/profile?]
### Profile Detail [GET]
Get Profile detail.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
            
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 1,
                    "civility": false,
                    "lastName": null,
                    "firstName": null,
                    "email": "admin@super.com",
                    "mobilePhone": null,
                    "officePhone": null,
                    "jobTitle": null,
                    "guest": false,
                    "customer": false,
                    "active": true,
                    "profilPicPath": null,
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }


## Profile Update [/my/profile]
### Profile Detail [POST]
Update Profile Detail

+ Request (application/json)

        {
            "civility": "mr",
            "lastName": "Nom_Adminss",
            "firstName": "Prenom_Admins",
            "email": "admin@super.com",
            "mobilePhone": "4321",
            "officePhone": "12312",
            "jobTitle": "Admin"
        }

+ Response 200 (application/json)

    + Body
            
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 1,
                    "civility": true,
                    "lastName": "Nom_Adminss",
                    "firstName": "Prenom_Admins",
                    "email": "admin@super.com",
                    "mobilePhone": "4321",
                    "officePhone": "12312",
                    "jobTitle": "Admin",
                    "guest": false,
                    "customer": false,
                    "active": true,
                    "profilPicPath": null,
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }

## Group Users for Super Admin

User resource for super-admin
`token` is required.
`role`:super-admin is required.

## User List [/users?]
### User List [GET]
Get User list

+ Request (application/json)

+ Response 200 (application/json)

    + Body
            
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 3,
                        "civility": true,
                        "lastName": "Sandstorm",
                        "firstName": "Michael",
                        "email": "hendy.yanuar+12@wgs.co.id",
                        "mobilePhone": "09",
                        "officePhone": "08",
                        "jobTitle": "Musician",
                        "guest": true,
                        "customer": true,
                        "active": true,
                        "profilPicPath": null,
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    {
                        "id": 2,
                        "civility": true,
                        "lastName": "Careyz",
                        "firstName": "Jimmy",
                        "email": "hendy.yanuar+14@wgs.co.id",
                        "mobilePhone": "9090",
                        "officePhone": "14045",
                        "jobTitle": "Comedian",
                        "guest": true,
                        "customer": true,
                        "active": true,
                        "profilPicPath": null,
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    {
                        "id": 1,
                        "civility": true,
                        "lastName": "Nom_Adminss",
                        "firstName": "Prenom_Admins",
                        "email": "admin@super.com",
                        "mobilePhone": "4321",
                        "officePhone": "12312",
                        "jobTitle": "Admin",
                        "guest": false,
                        "customer": false,
                        "active": true,
                        "profilPicPath": null,
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    }
                ]
            }

## User Detail [/users/{id}?]
### User Detail [GET]
Get User Detail

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 1,
                    "civility": true,
                    "lastName": "Nom_Adminss",
                    "firstName": "Prenom_Admins",
                    "email": "admin@super.com",
                    "mobilePhone": "4321",
                    "officePhone": "12312",
                    "jobTitle": "Admin",
                    "guest": false,
                    "customer": false,
                    "active": true,
                    "profilPicPath": null,
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }

## User Create [/users]
### User Create [POST]
Create User

+ Request (application/json)

        {
            "guest": true,
            "is_customer": true,
            "active": true,
            "civility": "mr",
            "firstName": "Jim",
            "lastName": "Carey",
            "email": "hendy.yanuar+14@wgs.co.id",
            "mobilePhone": "09",
            "officePhone": "08",
            "company": "9",
            "customer": [
                "999"
            ],
            "jobTitle": "Comedian",
            "role": [
                "1"
            ]
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 2,
                    "civility": true,
                    "lastName": "Carey",
                    "firstName": "Jim",
                    "email": "hendy.yanuar+14@wgs.co.id",
                    "mobilePhone": "09",
                    "officePhone": "08",
                    "jobTitle": "Comedian",
                    "guest": true,
                    "customer": true,
                    "active": true,
                    "profilPicPath": null,
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }

## User Update [/users/{id}]
### User Update [POST]
Update User

+ Request (application/json)

        {
            "guest": true,
            "is_customer": true,
            "active": true,
            "civility": "mr",
            "firstName": "Jimmy",
            "lastName": "Careyz",
            "email": "hendy.yanuar+14@wgs.co.id",
            "mobilePhone": "9090",
            "officePhone": "14045",
            "company": "9",
            "customer": [
                "999"
            ],
            "jobTitle": "Comedian",
            "role": [
                "1"
            ]
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 2,
                    "civility": true,
                    "lastName": "Careyz",
                    "firstName": "Jimmy",
                    "email": "hendy.yanuar+14@wgs.co.id",
                    "mobilePhone": "9090",
                    "officePhone": "14045",
                    "jobTitle": "Comedian",
                    "guest": true,
                    "customer": true,
                    "active": true,
                    "profilPicPath": null,
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }

## User Delete [/users/{id}/delete]
### User Delete [POST]
Delete User

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": 3
            }

## User Status Active Toggle [/users/{id}/toggle-active]
### User Status Active Toggle [POST]
Toggle User Active flag. Inverses current `active` attribute of user.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 2,
                    "civility": true,
                    "lastName": "Careyz",
                    "firstName": "Jimmy",
                    "email": "hendy.yanuar+14@wgs.co.id",
                    "mobilePhone": "9090",
                    "officePhone": "14045",
                    "jobTitle": "Comedian",
                    "guest": true,
                    "customer": true,
                    "active": false,
                    "profilPicPath": null,
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }

## User Status Customer Toggle [/users/{id}/toggle-customer]
### User Status Customer Toggle [POST]
Toggle User Customer flag. Inverses current `customer` attribute of user.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 2,
                    "civility": true,
                    "lastName": "Careyz",
                    "firstName": "Jimmy",
                    "email": "hendy.yanuar+14@wgs.co.id",
                    "mobilePhone": "9090",
                    "officePhone": "14045",
                    "jobTitle": "Comedian",
                    "guest": true,
                    "customer": false,
                    "active": false,
                    "profilPicPath": null,
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }

## User Check Registered Email [/users/check-registered-email/{email}]
### User Check Registered Email [POST]
Toggle User Customer flag. Inverses current `customer` attribute of user.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": false
            }

## Group Role

Role resource for super-admin
`token` is required.
`role`:super-admin is required.

## Role List [/roles?]
### Role List [GET]
Get Role list

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 1,
                        "name": "Super Admin",
                        "slug": "super-admin",
                        "permissions": [
                            {
                                "user.create": true
                            },
                            {
                                "user.read": true
                            },
                            {
                                "user.delete": true
                            },
                            {
                                "user.update": true
                            },
                            {
                                "building.create": true
                            },
                            {
                                "building.read": true
                            },
                            {
                                "building.delete": true
                            },
                            {
                                "building.update": true
                            },
                            {
                                "role.create": true
                            },
                            {
                                "role.read": true
                            },
                            {
                                "role.delete": true
                            },
                            {
                                "role.update": true
                            },
                            {
                                "lot.create": true
                            },
                            {
                                "lot.read": true
                            },
                            {
                                "lot.delete": true
                            },
                            {
                                "lot.update": true
                            },
                            {
                                "bail.create": true
                            },
                            {
                                "bail.read": true
                            },
                            {
                                "bail.delete": true
                            },
                            {
                                "bail.update": true
                            },
                            {
                                "portofolio.create": true
                            },
                            {
                                "portofolio.read": true
                            },
                            {
                                "portofolio.delete": true
                            },
                            {
                                "portofolio.update": true
                            },
                            {
                                "admin.read": true
                            },
                            {
                                "access.create": true
                            },
                            {
                                "access.update": true
                            }
                        ]
                    }
                ]
            }

## Role Detail [/roles/{id}?]
### Role Detail [GET]
Get Role Detail

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 1,
                    "name": "Super Admin",
                    "slug": "super-admin",
                    "permissions": [
                        {
                            "user.create": true
                        },
                        {
                            "user.read": true
                        },
                        {
                            "user.delete": true
                        },
                        {
                            "user.update": true
                        },
                        {
                            "building.create": true
                        },
                        {
                            "building.read": true
                        },
                        {
                            "building.delete": true
                        },
                        {
                            "building.update": true
                        },
                        {
                            "role.create": true
                        },
                        {
                            "role.read": true
                        },
                        {
                            "role.delete": true
                        },
                        {
                            "role.update": true
                        },
                        {
                            "lot.create": true
                        },
                        {
                            "lot.read": true
                        },
                        {
                            "lot.delete": true
                        },
                        {
                            "lot.update": true
                        },
                        {
                            "bail.create": true
                        },
                        {
                            "bail.read": true
                        },
                        {
                            "bail.delete": true
                        },
                        {
                            "bail.update": true
                        },
                        {
                            "portofolio.create": true
                        },
                        {
                            "portofolio.read": true
                        },
                        {
                            "portofolio.delete": true
                        },
                        {
                            "portofolio.update": true
                        },
                        {
                            "admin.read": true
                        },
                        {
                            "access.create": true
                        },
                        {
                            "access.update": true
                        }
                    ]
                }
            }

## Role Create [/roles]
### Role Create [POST]
Create Role

+ Request (application/json)

        {
            "label": "Admin Client",
            "description": null,
            "customer": "8",
            "permissions": {
            "user": [
                "create",
                "delete",
                "update",
                "read"
            ],
            "building": [
                "create",
                "delete",
                "update",
                "read"
            ]
            }
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 2,
                    "name": "Admin Client",
                    "slug": "admin-client",
                    "permissions": [
                        "user.create",
                        "user.delete",
                        "user.update",
                        "user.read",
                        "building.create",
                        "building.delete",
                        "building.update",
                        "building.read"
                    ]
                }
            }

## User Update [/roles/{id}]
### User Update [POST]
Update User

+ Request (application/json)

        {
            "label": "Admin Client",
            "description": null,
            "customer": "8",
            "permissions": {
            "user": [
                "delete",
                "update",
                "read"
            ],
            "building": [
                "create",
                "delete",
                "update",
                "read"
            ]
            }
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 2,
                    "name": "Admin Client",
                    "slug": "admin-client",
                    "permissions": [
                        "user.delete",
                        "user.update",
                        "user.read",
                        "building.create",
                        "building.delete",
                        "building.update",
                        "building.read"
                    ]
                }
            }

## Role Delete [/roles/{id}/delete]
### Role Delete [POST]
Delete Role

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": 3
            }

## Group Customer

Customer resource for super-admin
`token` is required.
`role`:super-admin is required.

## Customer List [/customers?]
### Customer List [GET]
Get Customer list

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": [
                    {
                        "id": 29,
                        "fullName": "Equare Snix",
                        "tradeName": "SQEX",
                        "vatOption": 1,
                        "active": 1,
                        "intercommunityVat": "SQEX",
                        "vat": null,
                        "siren": null,
                        "naf": "NAFS",
                        "iban": "FR7630001007941234567890185",
                        "accountName": "IBANK",
                        "swift": "FRFRFR76300",
                        "addressOption": 0,
                        "created_at": "2017-07-05 01:10:24",
                        "contact": {
                            "id": 14,
                            "civility": true,
                            "lastName": "Shinki",
                            "firstName": "Toho",
                            "email": "hendy.yanuar+23@wgs.co.id",
                            "mobilePhone": "072123",
                            "officePhone": null,
                            "jobTitle": "DR",
                            "guest": false,
                            "customer": true,
                            "active": true,
                            "profilPicPath": null,
                            "company": {
                                "id": 0,
                                "address": 0,
                                "fullName": null,
                                "tradeName": null,
                                "raisonSociale": 0,
                                "intercommunityVat": null,
                                "naf": null,
                                "siren": null,
                                "vat": null,
                                "vatOption": null
                            }
                        },
                        "raisonSociale": {
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    {
                        "id": 17,
                        "fullName": "Nandai Bamco",
                        "tradeName": "Nandai",
                        "vatOption": 1,
                        "active": 1,
                        "intercommunityVat": "VAT111",
                        "vat": null,
                        "siren": null,
                        "naf": "NAF",
                        "iban": "FR7630001007941234567890185",
                        "accountName": "IBANK",
                        "swift": "FRFRFR76300",
                        "addressOption": 0,
                        "created_at": "2017-07-04 10:33:09",
                        "contact": {
                            "id": 5,
                            "civility": false,
                            "lastName": null,
                            "firstName": null,
                            "email": "hendy.yanuar+11@wgs.co.id",
                            "mobilePhone": null,
                            "officePhone": null,
                            "jobTitle": null,
                            "guest": false,
                            "customer": false,
                            "active": false,
                            "profilPicPath": null,
                            "company": {
                                "id": 0,
                                "address": 0,
                                "fullName": null,
                                "tradeName": null,
                                "raisonSociale": 0,
                                "intercommunityVat": null,
                                "naf": null,
                                "siren": null,
                                "vat": null,
                                "vatOption": null
                            }
                        },
                        "raisonSociale": {
                            "code": "M01",
                            "label": "SOCIETE"
                        },
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    }
                ]
            }

## Customer Detail [/customers/{id}]
### Customer Detail [GET]
Get Customer Detail

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 30,
                    "fullName": "Cexas Thicken",
                    "tradeName": "CexasT",
                    "vatOption": 1,
                    "active": 1,
                    "intercommunityVat": "VAT111",
                    "vat": null,
                    "siren": null,
                    "naf": "NAF2",
                    "iban": "FR7630001007941234567890185",
                    "accountName": "IBANK",
                    "swift": "FRFRFR76300",
                    "addressOption": 0,
                    "created_at": "2017-07-05 01:42:40",
                    "contact": {
                        "id": 14,
                        "civility": true,
                        "lastName": "Shinki",
                        "firstName": "Toho",
                        "email": "hendy.yanuar+23@wgs.co.id",
                        "mobilePhone": "072123",
                        "officePhone": null,
                        "jobTitle": "DR",
                        "guest": false,
                        "customer": true,
                        "active": true,
                        "profilPicPath": null,
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    "raisonSociale": {
                        "code": "M01",
                        "label": "SOCIETE"
                    },
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }

## Customer Create [/customers]
### Customer Create [POST]
Create Customer.

+ Request (application/json)

        {
            "addressOption": false,
            "vatOption": true,
            "intercommunityVat": "VAT111",
            "fullName": "Cexas Thicken",
            "raisonSociale": {
                "id": 1,
                "code": "M01",
                "label": "SOCIETE"
            },
            "tradeName": "CexasT",
            "naf": "NAF2",
            "accountName": "IBANK",
            "iban": "FR7630001007941234567890185",
            "swift": "FRFRFR76300",
            "address": {
                "address1": "Park Habio",
                "address2": "",
                "zipcode": "14123",
                "city": "Shinjuku",
                "country": "JAPAN",
                "lat": 36.2048,
                "lng": 138.2529
            },
            "contact": {
                "civility": "Monsieur",
                "firstName": "Tonald",
                "lastName": "Drump",
                "email": "hendy.yanuar+23@wgs.co.id",
                "mobilePhone": "9081765739",
                "jobTitle": "Chef"
            },
            "billingAddress": {
                "address1": "MO 13",
                "address2": "",
                "zipcode": "41321",
                "city": "Cuautitlan",
                "country": "MEXICO",
                "lat": 19.6721809,
                "lng": -99.1809685
            }
        }

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 30,
                    "fullName": "Cexas Thicken",
                    "tradeName": "CexasT",
                    "vatOption": 1,
                    "active": 1,
                    "intercommunityVat": "VAT111",
                    "vat": null,
                    "siren": null,
                    "naf": "NAF2",
                    "iban": "FR7630001007941234567890185",
                    "accountName": "IBANK",
                    "swift": "FRFRFR76300",
                    "addressOption": 0,
                    "created_at": "2017-07-05 01:42:40",
                    "contact": {
                        "id": 14,
                        "civility": true,
                        "lastName": "Shinki",
                        "firstName": "Toho",
                        "email": "hendy.yanuar+23@wgs.co.id",
                        "mobilePhone": "072123",
                        "officePhone": null,
                        "jobTitle": "DR",
                        "guest": false,
                        "customer": true,
                        "active": true,
                        "profilPicPath": null,
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    "raisonSociale": {
                        "code": "M01",
                        "label": "SOCIETE"
                    },
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }

## Customer Status Active Toggle [/customers/{id}/toggle-active]
### Customer Status Active Toggle [POST]

Toggle Customer Active flag.

+ Request (application/json)

+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 30,
                    "fullName": "Cexas Thicken",
                    "tradeName": "CexasT",
                    "vatOption": 1,
                    "active": 0,
                    "intercommunityVat": "VAT111",
                    "vat": null,
                    "siren": null,
                    "naf": "NAF2",
                    "iban": "FR7630001007941234567890185",
                    "accountName": "IBANK",
                    "swift": "FRFRFR76300",
                    "addressOption": 0,
                    "created_at": "2017-07-05 01:42:40",
                    "contact": {
                        "id": 14,
                        "civility": true,
                        "lastName": "Shinki",
                        "firstName": "Toho",
                        "email": "hendy.yanuar+23@wgs.co.id",
                        "mobilePhone": "072123",
                        "officePhone": null,
                        "jobTitle": "DR",
                        "guest": false,
                        "customer": true,
                        "active": true,
                        "profilPicPath": null,
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    "raisonSociale": {
                        "code": "M01",
                        "label": "SOCIETE"
                    },
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    }
                }
            }


## Group CRM Prospect

`token` is required.
`permission:prospect.*` is required

## Prospect Detail [/crm/prospect/{id}]
### Prospect Detail [POST]
Get Prospect Detail
`permission:prospect.read` is required

+ Request (application/json)


+ Response 200 (application/json)

    + Body
    
            {
                "code": 0,
                "message": "Success",
                "data": {
                    "id": 10,
                    "wanted_surface": 1,
                    "current_surface": 1,
                    "number_of_posts": 1,
                    "reason": "Surface expansion",
                    "specify": "Isolation",
                    "visit_date": "2017-07-01",
                    "visits": [
                        {
                            "id": 1,
                            "property_id": 1
                        }
                    ],
                    "step": "Prospect",
                    "steps": [
                        {
                            "id": 1,
                            "step_process": "Prospect",
                            "date": "2017-07-01"
                        }
                    ],
                    "broker": {
                        "id": 1,
                        "civility": false,
                        "lastName": null,
                        "firstName": null,
                        "email": "hendy.yannuar+broker@wgs.co.id",
                        "mobilePhone": null,
                        "officePhone": null,
                        "jobTitle": null,
                        "guest": false,
                        "customer": false,
                        "active": true,
                        "profilPicPath": null,
                        "company": {
                            "id": 0,
                            "address": 0,
                            "fullName": null,
                            "tradeName": null,
                            "raisonSociale": 0,
                            "intercommunityVat": null,
                            "naf": null,
                            "siren": null,
                            "vat": null,
                            "vatOption": null
                        }
                    },
                    "company": {
                        "id": 0,
                        "address": 0,
                        "fullName": null,
                        "tradeName": null,
                        "raisonSociale": 0,
                        "intercommunityVat": null,
                        "naf": null,
                        "siren": null,
                        "vat": null,
                        "vatOption": null
                    },
                    "contact": {
                        "id": 14,
                        "civility": true,
                        "lastName": "Sukadi",
                        "firstName": "Sudardi",
                        "email": "hendy.yanuar+su@wgs.co.id",
                        "mobilePhone": "072123",
                        "jobTitle": "DR"
                    }
                }
            }